<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>T02 - Tile 2</title>

        <!-- Preview/Testing CSS & JS -->
        <link rel="stylesheet" href="../../../Assets/kul.css" type="text/css" />
        <script src="../../../Assets/jquery.js" type="text/javascript"></script>

        <!-- Global CSS & JS -->
        <link rel="stylesheet" href="../../../Globals/global.css" type="text/css" />
        <script src="../../../Globals/global.js" type="text/javascript"></script>

        <!-- Dependency CSS & JS -->
        <link rel="stylesheet" href="../../U - Utilities/U01 - Background Image/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U03 - Text/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U04 - Title/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U05 - Button/style.css" type="text/css" />

        <!-- Component CSS & JS -->
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <div class="kul">
            <div class="kul__component">
                <div class="tile-2" style="width: 375px;">
                    <img src="../../../Assets/image.svg" alt="Test Image" width="375" height="250" class="tile-2__image tile-2__part" />
                    <div class="tile-2__content tile-2__part tile-2__part_grow">
                        <p class="tile-2__subtitle tile-2__item text">Subtitle Text Here</p>
                        <h3 class="tile-2__title tile-2__item tile-2__item_top_xs title title_sm">Lorem Ipsum Dolor sit Amet Consectetur Adipiscing</h3>
                        <p class="tile-2__text tile-2__item tile-2__item_top_lg text text_sm">Lorem ipsum dolor sit amet consectetur adipiscing, on this tile the content height grows.</p>
                        <div class="tile-2__item tile-2__item_grow tile-2__item_top_sm">
                            <div class="tile-2__info">
                                <div class="tile-2__info-item">
                                    <p class="tile-2__info-text text text_sm">
                                        <svg viewbox="0 0 100 100" class="tile-2__info-icon" role="img" aria-label="Test Icon">
                                            <defs>
                                                <mask id="center">
                                                    <circle fill="#fff" cx="50" cy="50" r="50" />
                                                    <circle fill="#000" cx="50" cy="50" r="25" />
                                                </mask>
                                            </defs>
                                            <circle class="tile-2__info-icon-fill" cx="50" cy="50" r="50" mask="url(#center)" />
                                        </svg>
                                        Lorem Ipsum
                                    </p>
                                </div>
                                <div class="tile-2__info-item">
                                    <p class="tile-2__info-text text text_sm">
                                        <svg viewbox="0 0 100 100" class="tile-2__info-icon" role="img" aria-label="Test Icon">
                                            <defs>
                                                <mask id="center">
                                                    <circle fill="#fff" cx="50" cy="50" r="50" />
                                                    <circle fill="#000" cx="50" cy="50" r="25" />
                                                </mask>
                                            </defs>
                                            <circle class="tile-2__info-icon-fill" cx="50" cy="50" r="50" mask="url(#center)" />
                                        </svg>
                                        Inline SVG Icons
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="tile-2__text tile-2__item tile-2__item_top_lg text text_sm">Optional Learn More &gt;</p>
                        <div class="tile-2__button tile-2__item">
                            <a href="https://www.example.com/" class="button button_sm">Link Button</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kul__component">
                <a href="https://www.example.com/" class="tile-2" style="width: 375px;">
                    <div class="tile-2__image tile-2__image_h_md tile-2__part tile-2__part_grow bg-image" style="background-image: url('../../../Assets/image.svg');" role="img" aria-label="Test Image"></div>
                    <div class="tile-2__content tile-2__part">
                        <p class="tile-2__subtitle tile-2__item text">Link Tile</p>
                        <h3 class="tile-2__title tile-2__item tile-2__item_top_xs title title_sm">Lorem Ipsum Dolor sit Amet Consectetur Adipiscing</h3>
                        <p class="tile-2__text tile-2__item tile-2__item_top_lg text text_sm">Lorem ipsum dolor sit amet consectetur adipiscing, on this tile the image height grows.</p>
                        <div class="tile-2__item tile-2__item_top_sm">
                            <div class="tile-2__info">
                                <div class="tile-2__info-item">
                                    <p class="tile-2__info-text text text_sm">
                                        <span class="tile-2__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg')" aria-label="Test Icon"></span>
                                        Text Goes Here
                                    </p>
                                </div>
                                <div class="tile-2__info-item">
                                    <p class="tile-2__info-text text text_sm">
                                        <span class="tile-2__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg')" aria-label="Test Icon"></span>
                                        BG Image Icons
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="tile-2__text tile-2__item tile-2__item_top_lg text text_sm">Optional Learn More &gt;</p>
                        <div class="tile-2__button tile-2__item">
                            <div class="button button_sm">Button</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="kul__component">
                <a href="https://www.example.com/" class="tile-2 tile-2_color_dark" style="width: 375px;">
                    <div class="tile-2__image tile-2__image_h_md tile-2__part tile-2__part_grow bg-image" style="background-image: url('../../../Assets/image.svg');" role="img" aria-label="Test Image"></div>
                    <div class="tile-2__content tile-2__part">
                        <p class="tile-2__subtitle tile-2__item text">Dark Theme Link Tile</p>
                        <h3 class="tile-2__title tile-2__item tile-2__item_top_xs title title_sm">Lorem Ipsum Dolor sit Amet Consectetur Adipiscing</h3>
                        <p class="tile-2__text tile-2__item tile-2__item_top_lg text text_sm">Lorem ipsum dolor sit amet consectetur adipiscing, on this tile the image height grows.</p>
                        <div class="tile-2__item tile-2__item_top_sm">
                            <div class="tile-2__info">
                                <div class="tile-2__info-item">
                                    <p class="tile-2__info-text text text_sm">
                                        <span class="tile-2__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-white.svg')" aria-label="Test Icon"></span>
                                        Text Goes Here
                                    </p>
                                </div>
                                <div class="tile-2__info-item">
                                    <p class="tile-2__info-text text text_sm">
                                        <span class="tile-2__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-white.svg')" aria-label="Test Icon"></span>
                                        BG Image Icons
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="tile-2__text tile-2__item tile-2__item_top_lg text text_sm">Optional Learn More &gt;</p>
                        <div class="tile-2__button tile-2__item">
                            <div class="button button_sm button_color_light">Button</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="kul__component">
                <div class="tile-2 tile-2_color_dark bg-image" style="width: 375px; background-image: url('../../../Assets/image.svg');" >
                    <div class="tile-2__image tile-2__image_h_md tile-2__part tile-2__part_grow" aria-label="Test Image"></div>
                    <div class="tile-2__content tile-2__content_bg_none tile-2__content_top_none tile-2__part">
                        <p class="tile-2__subtitle tile-2__item text">Another Tile Example</p>
                        <h3 class="tile-2__title tile-2__item tile-2__item_top_xs title title_sm">Lorem Ipsum Dolor sit Amet Consectetur Adipiscing</h3>
                        <p class="tile-2__text tile-2__item tile-2__item_top_lg text text_sm">Magnis ridiculus commodo gravida non class, morbi eleifend quam.</p>
                        <div class="tile-2__item tile-2__item_top_sm">
                            <div class="tile-2__info">
                                <div class="tile-2__info-item">
                                    <p class="tile-2__info-text text text_sm">
                                        <span class="tile-2__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-white.svg')" aria-label="Test Icon"></span>
                                        Text Goes Here
                                    </p>
                                </div>
                                <div class="tile-2__info-item">
                                    <p class="tile-2__info-text text text_sm">
                                        <span class="tile-2__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-white.svg')" aria-label="Test Icon"></span>
                                        BG Image Icons
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="tile-2__text tile-2__item tile-2__item_top_lg text text_sm">Optional Learn More &gt;</p>
                        <div class="tile-2__button tile-2__item">
                            <a href="https://www.example.com/" class="button button_sm button_color_light">Link Button</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kul__component">
                <div class="tile-2" style="width: 375px;">
                    <div class="tile-2__content tile-2__part tile-2__part_grow">
                        <p class="tile-2__subtitle tile-2__item text">Subtitle Text Here</p>
                        <h3 class="tile-2__title tile-2__item tile-2__item_top_xs title title_sm">Lorem Ipsum Dolor sit Amet Consectetur Adipiscing</h3>
                        <p class="tile-2__text tile-2__item tile-2__item_top_lg text text_sm">This tile does not have an image. Lorem ipsum dolor sit amet consectetur adipiscing.</p>
                        <div class="tile-2__item tile-2__item_grow tile-2__item_top_sm">
                            <div class="tile-2__info">
                                <div class="tile-2__info-item">
                                    <p class="tile-2__info-text text text_sm">
                                        <span class="tile-2__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg')" aria-label="Test Icon"></span>
                                        Text Goes Here
                                    </p>
                                </div>
                                <div class="tile-2__info-item">
                                    <p class="tile-2__info-text text text_sm">
                                        <span class="tile-2__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg')" aria-label="Test Icon"></span>
                                        More Info Text
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="tile-2__text tile-2__item tile-2__item_top_lg text text_sm">Optional Learn More &gt;</p>
                        <div class="tile-2__button tile-2__item">
                            <button type="button" class="button button_sm">Button Element</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kul__component">
                <a href="https://www.example.com/" class="tile-2" style="width: 375px;">
                    <div class="tile-2__content tile-2__part tile-2__part_grow">
                        <p class="tile-2__subtitle tile-2__item text">Subtitle Text Here</p>
                        <h3 class="tile-2__title tile-2__item tile-2__item_top_xs title title_sm">Lorem Ipsum Dolor sit Amet Consectetur Adipiscing</h3>
                        <div class="tile-2__item tile-2__item_grow tile-2__item_top_lg">
                            <div class="tile-2__info">
                                <div class="tile-2__info-item">
                                    <p class="tile-2__info-text text text_sm">
                                        <span class="tile-2__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg')" aria-label="Test Icon"></span>
                                        Text Goes Here
                                    </p>
                                </div>
                                <div class="tile-2__info-item">
                                    <p class="tile-2__info-text text text_sm">
                                        <span class="tile-2__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg')" aria-label="Test Icon"></span>
                                        More Info Text
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="tile-2__text tile-2__item tile-2__item_top_lg text text_sm">Optional Learn More &gt;</p>
                        <div class="tile-2__button tile-2__item">
                            <div class="button button_sm">Button</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="kul__component">
                <div class="tile-2" style="width: 375px;">
                    <div class="tile-2__content tile-2__part tile-2__part_grow">
                        <h3 class="tile-2__title tile-2__item tile-2__item_top_xs title title_sm">Lorem Ipsum Dolor sit Amet Consectetur Adipiscing</h3>
                        <p class="tile-2__text tile-2__item tile-2__item_grow text text_sm">Dictumst maecenas imperdiet semper rhoncus tellus eget mi ridiculus.</p>
                        <div class="tile-2__button tile-2__item">
                            <a href="https://www.example.com/" class="button button_sm">Link Button</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kul__component">
                <button type="button" class="tile-2" style="width: 375px;">
                    <div class="tile-2__content tile-2__part tile-2__part_grow">
                        <h3 class="tile-2__title tile-2__item tile-2__item_top_xs title title_sm">Button Element Tile</h3>
                        <p class="tile-2__text tile-2__item tile-2__item_grow text text_sm">Dictumst maecenas imperdiet semper rhoncus tellus eget mi ridiculus.</p>
                        <div class="tile-2__button tile-2__item">
                            <div class="button button_sm">Button</div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </body>
</html>
