<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>T01 - Tile 1</title>

        <!-- Preview/Testing CSS & JS -->
        <link rel="stylesheet" href="../../../Assets/kul.css" type="text/css" />
        <script src="../../../Assets/jquery.js" type="text/javascript"></script>

        <!-- Global CSS & JS -->
        <link rel="stylesheet" href="../../../Globals/global.css" type="text/css" />
        <script src="../../../Globals/global.js" type="text/javascript"></script>

        <!-- Dependency CSS & JS -->
        <link rel="stylesheet" href="../../U - Utilities/U01 - Background Image/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U03 - Text/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U04 - Title/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U05 - Button/style.css" type="text/css" />

        <!-- Component CSS & JS -->
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <div class="kul-component">
            <div class="tile-1" style="width: 300px;">
                <img src="../../../Assets/image.svg" alt="Test Image" width="300" height="200" class="tile-1__image tile-1__part" />
                <div class="tile-1__content tile-1__part tile-1__part_grow">
                    <h3 class="tile-1__title tile-1__item title title_sm">Tile Header</h3>
                    <p class="tile-1__text tile-1__item tile-1__item_top_sm text text_sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at massa sit amet nisi cursus hendrerit. Integer ornare.</p>
                    <p class="tile-1__text tile-1__item text">Lorem ipsum dolor sit amet consectetur adipiscing elit ornare phasellus, fusce montes vestibulum rutrum placerat rhoncus sem aptent, ullamcorper aliquet hendrerit suscipit himenaeos parturient.</p>
                    <ul class="tile-1__list tile-1__item text">
                        <li class="tile-1__list-item">Lorem ipsummus at massa text wrap dolor sit amet</li>
                        <li class="tile-1__list-item">Lorem ipsum dolor sit amet</li>
                        <li class="tile-1__list-item">Malesuada nunc Lorem</li>
                        <li class="tile-1__list-item">Lorem ipsum cursus</li>
                    </ul>
                    <p class="tile-1__text tile-1__text_color_alt tile-1__item tile-1__item_top_lg text text_xs">Lorem ipsum cursus hendrerit. Integer ornare tortor nec urna ultrices.</p>
                    <p class="tile-1__text tile-1__item tile-1__item_top_lg text text_sm">Optional Learn More &gt;</p>
                    <div class="tile-1__button tile-1__item">
                        <a href="https://www.example.com/" class="button button_w_full">Link Button</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="kul-component">
            <a href="https://www.example.com/" class="tile-1" style="width: 300px;">
                <div class="tile-1__image tile-1__image_h_sm tile-1__part bg-image" style="background-image: url('../../../Assets/image.svg');" role="img" aria-label="Test Image"></div>
                <div class="tile-1__content tile-1__part tile-1__part_grow">
                    <h3 class="tile-1__title tile-1__item title title_sm">Link Tile</h3>
                    <p class="tile-1__text tile-1__item tile-1__item_top_sm text text_sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at massa sit amet nisi cursus hendrerit. Integer ornare.</p>
                    <div class="tile-1__button tile-1__item">
                        <div class="button button_w_full">Button</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="kul-component">
            <div class="tile-1" style="width: 300px;">
                <div class="tile-1__image tile-1__image_h_sm tile-1__part bg-image" style="background-image: url('../../../Assets/image.svg');" role="img" aria-label="Test Image"></div>
                <div class="tile-1__content tile-1__part tile-1__part_grow">
                    <h3 class="tile-1__title tile-1__item title title_sm">Tile Header</h3>
                    <p class="tile-1__text tile-1__item tile-1__item_grow tile-1__item_top_sm tile-1__text_sm text text_sm">On this tile, the button will "stick" to the bottom as the height grows. Mauris hendrerit mus augue in ac malesuada.</p>
                    <div class="tile-1__button tile-1__item">
                        <a href="https://www.example.com/" class="button button_w_full">Link Button</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="kul-component">
            <div class="tile-1" style="width: 300px;">
                <div class="tile-1__image tile-1__part dark-theme">
                    <div class="tile-1__image-bg bg-image" style="background-image: url('../../../Assets/image.svg');" role="img" aria-label="Test Image"></div>
                    <div class="tile-1__image-content">
                        <h3 class="tile-1__image-title title">Title on Image</h3>
                        <p class="tile-1__image-text text text_sm">Optional Subtitle</p>
                    </div>
                </div>
                <div class="tile-1__content tile-1__part tile-1__part_grow">
                    <p class="tile-1__text tile-1__item tile-1__item_top_sm text text_sm">Risus non dui egestas netus cras orci mi natoque, sociosqu condimentum quis nascetur sapien sagittis ultrices lacinia, vulputate sodales magnis a massa pulvinar.</p>
                </div>
            </div>
        </div>
        <div class="kul-component">
            <div class="tile-1" style="width: 300px;">
                <div class="tile-1__image tile-1__image_h_xl tile-1__part tile-1__part_grow dark-theme">
                    <div class="tile-1__image-bg bg-image" style="background-image: url('../../../Assets/image.svg');" role="img" aria-label="Test Image"></div>
                    <div class="tile-1__image-content">
                        <h3 class="tile-1__image-title title">Title on Image</h3>
                        <p class="tile-1__image-text text text_sm">This tile has no content below the image itself.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="kul-component">
            <div class="tile-1" style="width: 300px;">
                <div class="tile-1__content tile-1__content_space tile-1__part tile-1__part_grow">
                        <h3 class="tile-1__title tile-1__item title title_sm">Tile Header</h3>
                        <p class="tile-1__text tile-1__item tile-1__item_grow text">Lorem ipsum dolor sit amet consectetur adipiscing elit ornare phasellus, fusce montes vestibulum rutrum placerat rhoncus sem aptent, ullamcorper aliquet hendrerit suscipit himenaeos parturient.</p>
                        <p class="tile-1__text tile-1__item tile-1__item_top_xl text text_sm">Optional Learn More &gt;</p>
                </div>
            </div>
        </div>
        <div class="kul-component">
            <button type="button" class="tile-1" style="width: 300px;">
                <img src="../../../Assets/image.svg" alt="Test Image" width="300" height="100" class="tile-1__image tile-1__part" />
                <div class="tile-1__content tile-1__part tile-1__part_grow">
                    <h3 class="tile-1__title tile-1__item title title_sm">Tile Header</h3>
                    <p class="tile-1__text tile-1__item tile-1__item_top_sm text text_sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at massa sit amet nisi cursus hendrerit. Integer ornare.</p>
                </div>
            </button>
        </div>
    </body>
</html>
