.tile-1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    color: var(--g_color_black);
    text-align: left;
    text-decoration: none;
    border: 0;
    border-radius: var(--g_border-radius_lg);
    box-shadow: 0 6px 10px rgba(var(--g_rgb_black), 0.15);
}
.tile-1:visited,
.tile-1:hover,
.tile-1:focus,
.tile-1:active {
    color: var(--g_color_black);
}
.tile-1__part {
    flex: 0 0 auto;
}
.tile-1__part_grow {
    flex-grow: 1;
}
.tile-1__part:first-child {
    border-top-left-radius: var(--g_border-radius_lg);
    border-top-right-radius: var(--g_border-radius_lg);
}
.tile-1__part:last-child {
    border-bottom-right-radius: var(--g_border-radius_lg);
    border-bottom-left-radius: var(--g_border-radius_lg);
}
.tile-1__image {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.tile-1__image::before {
    content: '';
    display: block;
    width: 0;
    flex: 0 0 auto;
}
.tile-1__image_h_sm::before {
    padding-top: 65%;
}
.tile-1__image_h_md::before {
    padding-top: 85%;
}
.tile-1__image_h_lg::before {
    padding-top: 100%;
}
.tile-1__image_h_xl::before {
    padding-top: 150%;
}
.tile-1__image-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.tile-1__image-content {
    flex: 0 0 auto;
    position: relative;
    width: 100%;
    padding: 65px 40px;
    text-align: center;
}
.tile-1__image-text {
    margin-top: 8px;
}
.tile-1__image-text:first-child {
    margin-top: 0;
}
.tile-1__content {
    background-color: var(--g_color_1-4);
    display: flex;
    flex-direction: column;
    padding: 35px 40px;
}
.tile-1__item {
    flex: 0 0 auto;
    margin: 15px 0 0;
}
.tile-1__item_grow {
    flex-grow: 1;
}
.tile-1__item_top_sm {
    margin-top: 10px;
}
.tile-1__item_top_md {
    margin-top: 20px;
}
.tile-1__item_top_lg {
    margin-top: 40px;
}
.tile-1__item_top_none,
.tile-1__item:first-child {
    margin-top: 0;
}
.tile-1__text_alt-color {
    color: var(--g_color_1-2);
}
.tile-1__list {
    padding: 0;
    line-height: 1.4;
    list-style: none;
}
.tile-1__list-item {
    padding: 8px 0;
    border-top: 1px solid var(--g_color_1-3);
}
.tile-1__list-item:first-child {
    padding-top: 0;
    border-top: 0;
}
.tile-1__list-item:last-child {
    padding-bottom: 0;
}
.tile-1__button {
    margin-right: -20px;
    margin-left: -20px;
}
