<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>U04 - Title</title>

        <!-- Preview/Testing CSS & JS -->
        <link rel="stylesheet" href="../../../Assets/kul.css" type="text/css" />
        <script src="../../../Assets/jquery.js" type="text/javascript"></script>

        <!-- Global CSS & JS -->
        <link rel="stylesheet" href="../../../Globals/global.css" type="text/css" />
        <script src="../../../Globals/global.js" type="text/javascript"></script>

        <!-- Component CSS & JS -->
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <div class="site">
            <div class="kul-component">
                <p class="title title_sm">Small Lorem Ipsum Dolor Sit Amet</p>
            </div>
            <div class="kul-component">
                <p class="title">Default Lorem Ipsum Dolor Sit Amet</p>
            </div>
            <div class="kul-component">
                <p class="title title_lg">Large Lorem Ipsum Dolor Sit Amet</p>
            </div>
            <div class="kul-component">
                <p class="title title_xl">Extra Large Lorem Ipsum Dolor Sit Amet</p>
            </div>
        </div>
    </body>
</html>
