<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>U03 - Text</title>

        <!-- Preview/Testing CSS & JS -->
        <link rel="stylesheet" href="../../../Assets/kul.css" type="text/css" />
        <script src="../../../Assets/jquery.js" type="text/javascript"></script>

        <!-- Global CSS & JS -->
        <link rel="stylesheet" href="../../../Globals/global.css" type="text/css" />
        <script src="../../../Globals/global.js" type="text/javascript"></script>

        <!-- Component CSS & JS -->
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <div class="kul">
            <div class="kul__component">
                <p class="text text_xs">Extra small. Lorem ipsum dolor sit amet consectetur adipiscing elit tellus neque litora, a malesuada aenean praesent aliquet orci congue aliquam viverra risus, volutpat ante urna netus semper vel enim condimentum venenatis. Est eros aptent fermentum parturient magnis interdum sem arcu nunc rutrum habitant lectus, vitae ullamcorper placerat rhoncus pharetra posuere molestie egestas nascetur ut.</p>
            </div>
            <div class="kul__component">
                <p class="text text_sm">Small. Lorem ipsum dolor sit amet consectetur adipiscing elit tellus neque litora, a malesuada aenean praesent aliquet orci congue aliquam viverra risus, volutpat ante urna netus semper vel enim condimentum venenatis. Est eros aptent fermentum parturient magnis interdum sem arcu nunc rutrum habitant lectus, vitae ullamcorper placerat rhoncus pharetra posuere molestie egestas nascetur ut.</p>
            </div>
            <div class="kul__component">
                <p class="text">Default. Lorem ipsum dolor sit amet consectetur adipiscing elit tellus neque litora, a malesuada aenean praesent aliquet orci congue aliquam viverra risus, volutpat ante urna netus semper vel enim condimentum venenatis. Est eros aptent fermentum parturient magnis interdum sem arcu nunc rutrum habitant lectus, vitae ullamcorper placerat rhoncus pharetra posuere molestie egestas nascetur ut.</p>
            </div>
            <div class="kul__component">
                <p class="text text_lg">Large. Lorem ipsum dolor sit amet consectetur adipiscing elit tellus neque litora, a malesuada aenean praesent aliquet orci congue aliquam viverra risus, volutpat ante urna netus semper vel enim condimentum venenatis. Est eros aptent fermentum parturient magnis interdum sem arcu nunc rutrum habitant lectus, vitae ullamcorper placerat rhoncus pharetra posuere molestie egestas nascetur ut.</p>
            </div>
        </div>
    </body>
</html>
