<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LG04 - Layout Group 4</title>

        <!-- Preview/Testing CSS & JS -->
        <link rel="stylesheet" href="../../../Assets/kul.css" type="text/css" />
        <script src="../../../Assets/jquery.js" type="text/javascript"></script>

        <!-- Global CSS & JS -->
        <link rel="stylesheet" href="../../../Globals/global.css" type="text/css" />
        <script src="../../../Globals/global.js" type="text/javascript"></script>

        <!-- Dependency CSS & JS -->
        <link rel="stylesheet" href="../../U - Utilities/U01 - Background Image/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U03 - Text/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U04 - Title/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U05 - Button/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U06 - Button Group/style.css" type="text/css" />

        <!-- Component CSS & JS -->
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <div class="site">
            <div class="kul-component">
                <div class="layout-group-4">
                    <div class="layout-group-4__main">
                        <img src="../../../Assets/image.svg" alt="Test Image" width="300" height="120" class="layout-group-4__graphic layout-group-4__item">
                        <h2 class="layout-group-4__title layout-group-4__item title">Optional Title</h2>
                        <p class="layout-group-4__text layout-group-4__item text">Lorem ipsum dolor sit amet consectetur adipiscing elit nec, facilisis nullam dictumst sollicitudin.</p>
                        <div class="layout-group-4__button layout-group-4__item layout-group-4__item_top_lg">
                            <div class="button-group">
                                <div class="button-group__item">
                                    <a href="https://www.example.com/" class="button">Button</a>
                                </div>
                                <div class="button-group__item">
                                    <a href="https://www.example.com/" class="button">Button 2</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-group-4__image layout-group-4__image_stretch layout-group-4__image_h_sm bg-image" style="background-image: url('../../../Assets/image.svg');" role="img" aria-label="Test Image"></div>
                </div>
            </div>
            <div class="kul-component">
                <div class="layout-group-4">
                    <div class="layout-group-4__main">
                        <h2 class="layout-group-4__title layout-group-4__item title">Optional Title</h2>
                        <p class="layout-group-4__text layout-group-4__item text">Lorem ipsum dolor sit amet consectetur adipiscing elit nec, facilisis nullam dictumst sollicitudin.</p>
                        <div class="layout-group-4__button layout-group-4__item layout-group-4__item_top_lg">
                            <a href="https://www.example.com/" class="button">Link Button</a>
                        </div>
                    </div>
                    <img src="../../../Assets/image.svg" alt="Test Image" width="1000" height="400" class="layout-group-4__image">
                </div>
            </div>
            <div class="kul-component">
                <div class="layout-group-4">
                    <div class="layout-group-4__main">
                        <div class="layout-group-4__graphic layout-group-4__graphic_h_md bg-image" style="background-image: url('../../../Assets/image.svg');" role="img" aria-label="Test Image"></div>
                        <h2 class="layout-group-4__title layout-group-4__item title">Optional Title</h2>
                        <p class="layout-group-4__text layout-group-4__item text">Lorem ipsum dolor sit amet consectetur adipiscing elit nec, facilisis nullam dictumst sollicitudin.</p>
                        <div class="layout-group-4__button layout-group-4__item layout-group-4__item_top_lg">
                            <button type="button" class="button">Button</button>
                        </div>
                    </div>
                    <div class="layout-group-4__image layout-group-4__image_stretch layout-group-4__image_h_lg bg-image" style="background-image: url('../../../Assets/image.svg');" role="img" aria-label="Test Image"></div>
                </div>
            </div>
        </div>
    </body>
</html>
