<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BT01 - Body Text 1</title>

        <!-- Preview/Testing CSS & JS -->
        <link rel="stylesheet" href="../../../Assets/kul.css" type="text/css" />
        <script src="../../../Assets/jquery.js" type="text/javascript"></script>

        <!-- Global CSS & JS -->
        <link rel="stylesheet" href="../../../Globals/global.css" type="text/css" />
        <script src="../../../Globals/global.js" type="text/javascript"></script>

        <!-- Dependency CSS & JS -->
        <link rel="stylesheet" href="../../U - Utilities/U03 - Text/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U04 - Title/style.css" type="text/css" />

        <!-- Component CSS & JS -->
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <div class="kul">
            <div class="kul__component">
                <div class="body-text-1 text">
                    <h4>Lorem Ipsum Dolor sit Amet</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit per velit, <strong>posuere diam ullamcorper fames</strong> mattis pharetra facilisi faucibus tortor ad, ornare porta semper bibendum et nibh litora at. Donec lobortis curae ut habitasse taciti mi lectus cubilia class morbi, justo nullam venenatis consequat sagittis eget urna lacinia dui, augue fusce egestas aenean nisi dignissim placerat purus congue.</p>
                    <p>Convallis vehicula est ac magnis sociosqu <em>maecenas tempus turpis</em>, vitae vivamus senectus ultrices nascetur malesuada curabitur ligula, quisque ultricies enim tempor primis platea himenaeos. Non id conubia duis fermentum metus sapien vestibulum natoque varius aptent, aliquam blandit feugiat nam tristique ridiculus <a href="https://www.example.com/test/" target="_blank">mauris iaculis</a>.</p>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit vel aliquet malesuada dis dapibus, auctor ultricies eleifend ultrices curabitur. Imperdiet vivamus consequat nec erat blandit cursus penatibus aenean laoreet integer purus, natoque tempus vitae ridiculus egestas pulvinar tempor ligula quisque. Feugiat fames vehicula conubia diam faucibus luctus torquent, orci primis hendrerit nullam felis netus aliquam, euismod interdum et eros tristique mollis.</p>
                    </blockquote>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit maecenas, ut tincidunt luctus montes fringilla facilisi vivamus cursus, habitasse blandit imperdiet viverra nulla aptent malesuada. Cubilia placerat convallis litora porttitor feugiat, justo nullam curabitur sociis tortor aliquam, eros vulputate senectus id. Ac integer potenti ultrices primis mattis ante gravida rutrum enim, venenatis facilisis orci ligula velit netus himenaeos accumsan.</p>
                    <hr />
                    <p>Dictumst enim fames vel per ad sociosqu in viverra quis nostra praesent vestibulum taciti sollicitudin, sapien aenean ut facilisis sed magna sodales himenaeos torquent dui fringilla laoreet. Ligula at senectus purus ullamcorper dignissim habitant sagittis, fusce non donec gravida molestie mattis nunc condimentum, varius urna fermentum tempor tellus blandit.</p>
                    <p>Tincidunt varius pharetra nullam fames cursus dis neque proin platea eros, duis auctor interdum mus sed consequat massa ullamcorper ridiculus mollis, ultrices ad id eu venenatis torquent sociis ante pulvinar. Habitant faucibus vel nec turpis, fusce dignissim vulputate primis est, imperdiet hendrerit facilisis.</p>
                    <ol>
                        <li>First list item</li>
                        <li>Another list item</li>
                        <li>Third item on this list</li>
                        <li>Vehicula lacus quis natoque platea hendrerit lobortis curae viverra tempus volutpat nisl, eu mattis magnis tortor condimentum proin torquent dapibus lectus rhoncus.</li>
                        <li>Semper parturient turpis cras tristique porttitor penatibus enim fames ornare class aenean.</li>
                        <li>Scelerisque velit commodo erat malesuada posuere praesent morbi, facilisi ut faucibus lacinia tempor cursus.</li>
                    </ol>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit nullam pulvinar curabitur netus nostra, eget himenaeos ut id tortor. Hac dictum turpis semper facilisis condimentum morbi aliquam proin tellus, urna ridiculus ad lobortis imperdiet sollicitudin cras sodales quam elementum, erat convallis dapibus laoreet molestie a nulla leo. Vitae mus dis quis sagittis sed tempor commodo ullamcorper etiam senectus, porttitor pellentesque egestas parturient eros et penatibus rhoncus sociosqu lacinia aenean.</p>
                    <p>Phasellus eleifend habitant neque lectus ligula magna sem augue. Aliquet consequat quisque primis non fusce pretium cursus malesuada, blandit tristique felis mollis nec curae donec, fames risus diam taciti posuere vel congue.</p>
                    <ul>
                        <li>First list item</li>
                        <li>Another list item
                            <ul>
                                <li>Sub-item within the list</li>
                                <li>Another list item</li>
                            </ul>
                        </li>
                        <li>Third item on this list</li>
                        <li>Vehicula lacus quis natoque platea hendrerit lobortis curae viverra tempus volutpat nisl, eu mattis magnis tortor condimentum proin torquent dapibus lectus rhoncus.</li>
                        <li>Semper parturient turpis cras tristique porttitor penatibus enim fames ornare class aenean.</li>
                        <li>Scelerisque velit commodo erat malesuada posuere praesent morbi, facilisi ut faucibus lacinia tempor cursus.</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit vitae proin curabitur, nostra dui mi placerat ornare dapibus pretium habitant metus. Dictumst sed nibh nunc morbi litora ultrices scelerisque rutrum, eros facilisis viverra quis condimentum varius taciti mollis fames, porttitor interdum molestie volutpat senectus est ut.</p>
                    <p>Vehicula gravida tellus vulputate aliquet ligula fringilla etiam montes aenean justo convallis sagittis dignissim, habitasse hendrerit per class venenatis id sociis duis aliquam massa sapien. Risus cum egestas blandit in velit hac eu lacinia faucibus curae, sodales parturient tempor natoque purus enim at ullamcorper mauris feugiat, erat orci donec eget porta libero magnis nulla praesent.</p>
                    <h4>Ligula Potenti Interdum Nisl</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit nunc fringilla donec turpis ac arcu, platea id volutpat per netus. Faucibus quam in ante lobortis placerat primis, eleifend turpis et fringilla vel, viverra porttitor morbi dignissim aptent. Torquent rhoncus est velit euismod maecenas mattis senectus, per interdum natoque condimentum platea ornare leo, ac luctus mauris porttitor parturient molestie.</p>
                    <p>
                        <img src="../../../Assets/image.svg" alt="Test image" width="500" height="250" />
                    </p>
                    <p>Diam malesuada accumsan suscipit ante quis et vitae dapibus, facilisi conubia in ornare posuere interdum lobortis quisque, sed blandit tristique primis nec mauris luctus. Metus pellentesque netus volutpat quis a ridiculus cum potenti malesuada quam vestibulum, conubia orci ligula placerat quisque natoque sed vehicula porttitor etiam. Diam ante risus cras magna cubilia rhoncus torquent nisi, iaculis tincidunt vestibulum vulputate lacinia ornare nunc, suscipit eget hac aptent feugiat litora ridiculus. Sociis magnis euismod class arcu gravida semper proin non, taciti est placerat torquent quis lobortis at, id leo cras tempor imperdiet hac himenaeos.</p>
                    <figure style="width: 500px;">
                        <img src="../../../Assets/image.svg" alt="Test image" width="500" height="250" />
                        <figcaption>Sodales dapibus sem semper habitant dictum himenaeos nibh id, enim sapien facilisi aenean faucibus posuere egestas class vulputate.</figcaption>
                    </figure>
                    <p>Convallis platea ad id senectus faucibus duis, aliquet diam consequat a litora class euismod, natoque velit conubia posuere nulla. Suspendisse bibendum magna mus parturient et blandit, potenti inceptos molestie proin quis accumsan vitae, a dis feugiat aptent montes. Suspendisse lacus curae blandit magna odio cum posuere sapien dictum aenean pharetra, erat mi eros netus eu tempor sociis fermentum habitant risus eleifend nec, velit ultricies ornare vehicula ad enim conubia massa nascetur lacinia. Dis dapibus facilisis justo per hendrerit pharetra, vulputate mi ac posuere interdum odio ligula, sollicitudin luctus mollis fames sagittis.</p>
                    <p>Aliquet blandit ornare dui class libero habitasse purus suspendisse, quam placerat vulputate tristique fusce per aliquam mollis, nullam aptent leo montes diam id consequat. Suscipit quisque sollicitudin convallis conubia senectus ligula dapibus commodo luctus nostra, enim cursus malesuada tortor massa sapien primis dis turpis, velit curae urna ultricies himenaeos a iaculis nisi vulputate.</p>
                    <p>
                        <img src="../../../Assets/image.svg" alt="Test image" width="400" height="300" class="alignleft" />
                    </p>
                    <p>Vitae egestas dis ullamcorper fusce quam sociosqu parturient risus felis, nibh accumsan mauris nec taciti montes velit cubilia quis, rhoncus ultrices platea diam at etiam nisl erat. Litora commodo cubilia morbi hac eros pretium, montes dui porttitor cras parturient lobortis, tellus porta sapien consequat sagittis.</p>
                    <h5>Iaculis nunc congue natoque</h5>
                    <p>Leo augue quam luctus per proin, rutrum ornare parturient malesuada mi porttitor primis at penatibus fermentum, litora et magnis maecenas dapibus inceptos fames rhoncus. Gravida vehicula cum metus nunc ac platea risus fringilla volutpat, placerat vestibulum at condimentum penatibus primis odio tincidunt, leo velit fusce lacinia et hendrerit cubilia dictumst. Per rutrum netus hendrerit cursus arcu erat faucibus blandit sem sollicitudin mi rhoncus, vel dui penatibus fames nascetur sed ac himenaeos porttitor mus curabitur.</p>
                    <p>Iaculis vel lacinia auctor etiam molestie maecenas per mollis, pellentesque himenaeos suscipit leo nisl cursus suspendisse in, dapibus fermentum magna ultricies lacus aliquet vehicula. Enim quisque nullam posuere cubilia turpis parturient sodales curabitur elementum sociosqu, neque donec sociis ullamcorper pellentesque conubia maecenas litora dictumst. Sollicitudin luctus nulla non curae, pellentesque sapien cursus. Neque netus luctus ante molestie rutrum feugiat aenean malesuada felis, euismod arcu sapien odio ad tristique primis mi, class dictum nisl porta ac quisque lacinia hac.</p>
                    <figure class="alignright" style="width: 400px;">
                        <img src="../../../Assets/image.svg" alt="Test image" width="400" height="300" />
                        <figcaption>Sodales dapibus sem semper habitant dictum himenaeos nibh id, enim sapien facilisi aenean faucibus posuere egestas.</figcaption>
                    </figure>
                    <p>Nulla et ad quam semper morbi tincidunt dui sagittis malesuada, imperdiet mi cursus diam purus hac integer inceptos potenti, cubilia facilisis platea ut aptent sed arcu fusce. Porttitor vestibulum dui neque tincidunt semper condimentum venenatis himenaeos varius pretium, suspendisse libero penatibus aliquam ante feugiat nisl magna molestie. Id tincidunt feugiat risus varius lectus vehicula mollis sem quisque conubia, elementum pellentesque sociis lacus tortor volutpat convallis maecenas leo consequat, quam curabitur vivamus libero congue nunc facilisi velit malesuada. Volutpat elementum pulvinar porta aenean molestie imperdiet eu class, vivamus phasellus ornare leo felis tempus consequat in, accumsan natoque libero quis pretium facilisis ad.</p>
                    <p>Enim ac cursus parturient est molestie diam laoreet sodales lacus semper, ut orci magnis morbi taciti habitant cum volutpat posuere dignissim, mus donec condimentum velit blandit nullam nisl et tortor. Magnis id lacus hendrerit ultrices cubilia, vivamus mi pulvinar malesuada penatibus dictum, vulputate sodales tempus mattis. Eu nisi ac maecenas scelerisque dictumst enim vitae hac placerat, sodales commodo dis semper blandit facilisis non dui.</p>
                    <p>Volutpat diam parturient nec consequat vulputate fermentum sociosqu, gravida euismod vivamus per aliquam feugiat velit eleifend, pellentesque vitae suscipit phasellus leo egestas. Ridiculus dapibus ut montes phasellus dictum habitasse pulvinar felis morbi, cras placerat mollis auctor rutrum conubia convallis. Eget platea fames suspendisse auctor ullamcorper varius imperdiet, egestas quam malesuada tempus gravida a et donec, leo phasellus mus risus lobortis facilisis.</p>
                    <p>
                        <img src="../../../Assets/image.svg" alt="Test image" width="500" height="250" class="aligncenter" />
                    </p>
                    <p>At fusce turpis euismod risus feugiat lacus dui quam netus penatibus mus, metus semper eleifend non etiam vel himenaeos hendrerit nibh duis, maecenas ut nisl massa fames luctus est senectus dictumst torquent. Gravida bibendum vehicula mi egestas enim sociosqu accumsan molestie, aliquam varius cum donec id maecenas. Curae enim ridiculus aliquam nunc a nostra fringilla pellentesque, primis placerat duis nisl eleifend sociis ultricies, sollicitudin volutpat ultrices cras feugiat ante eu. At fringilla nostra feugiat tristique ultricies venenatis urna quam, senectus diam libero arcu inceptos mollis dictumst, volutpat mattis natoque aliquam id cursus duis.</p>
                    <figure class="aligncenter" style="width: 500px;">
                        <img src="../../../Assets/image.svg" alt="Test image" width="500" height="250" />
                        <figcaption>Sodales dapibus sem semper habitant dictum himenaeos nibh id, enim sapien facilisi aenean faucibus posuere egestas class vulputate.</figcaption>
                    </figure>
                    <p>Tempor a nibh felis sagittis at elementum ornare, sociosqu scelerisque facilisis porttitor egestas taciti aliquet imperdiet, platea vivamus nulla blandit mauris odio. Convallis iaculis id vivamus nam gravida mattis cras tempor, aenean elementum viverra eget aptent inceptos platea etiam, egestas litora ornare malesuada torquent pretium ullamcorper.</p>
                </div>
            </div>
            <div class="kul__component">
                <div class="body-text-1 body-text-1_center text">
                    <h4>Centered Body Text</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit per velit, posuere diam ullamcorper fames mattis pharetra facilisi faucibus tortor ad, ornare porta semper bibendum et nibh litora at. Donec lobortis curae ut habitasse taciti mi lectus cubilia class morbi, justo nullam venenatis consequat sagittis eget urna lacinia dui, augue fusce egestas aenean nisi dignissim placerat purus congue.</p>
                    <p>Convallis vehicula est ac magnis sociosqu maecenas tempus turpis, vitae vivamus senectus ultrices nascetur malesuada curabitur ligula, quisque ultricies enim tempor primis platea himenaeos. Non id conubia duis fermentum metus sapien vestibulum natoque varius aptent, aliquam blandit feugiat nam tristique ridiculus mauris iaculis.</p>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit vel aliquet malesuada dis dapibus, auctor ultricies eleifend ultrices curabitur. Imperdiet vivamus consequat nec erat blandit cursus penatibus aenean laoreet integer purus, natoque tempus vitae ridiculus egestas pulvinar tempor ligula quisque. Feugiat fames vehicula conubia diam faucibus luctus torquent, orci primis hendrerit nullam felis netus aliquam, euismod interdum et eros tristique mollis.</p>
                    </blockquote>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit maecenas, ut tincidunt luctus montes fringilla facilisi vivamus cursus, habitasse blandit imperdiet viverra nulla aptent malesuada. Cubilia placerat convallis litora porttitor feugiat, justo nullam curabitur sociis tortor aliquam, eros vulputate senectus id. Ac integer potenti ultrices primis mattis ante gravida rutrum enim, venenatis facilisis orci ligula velit netus himenaeos accumsan.</p>
                    <p>Dictumst enim fames vel per ad sociosqu in viverra quis nostra praesent vestibulum taciti sollicitudin, sapien aenean ut facilisis sed magna sodales himenaeos torquent dui fringilla laoreet. Ligula at senectus purus ullamcorper dignissim habitant sagittis, fusce non donec gravida molestie mattis nunc condimentum, varius urna fermentum tempor tellus blandit.</p>
                    <ul>
                        <li>First list item</li>
                        <li>Another list item</li>
                        <li>Third item on this list</li>
                    </ul>
                    <p>Tincidunt varius pharetra nullam fames cursus dis neque proin platea eros, duis auctor interdum mus sed consequat massa ullamcorper ridiculus mollis, ultrices ad id eu venenatis torquent sociis ante pulvinar. Habitant faucibus vel nec turpis, fusce dignissim vulputate primis est, imperdiet hendrerit facilisis.</p>
                </div>
            </div>
            <div class="kul__component">
                <div class="body-text-1 body-text-1_right text">
                    <h4>Right-aligned Body Text</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit per velit, posuere diam ullamcorper fames mattis pharetra facilisi faucibus tortor ad, ornare porta semper bibendum et nibh litora at. Donec lobortis curae ut habitasse taciti mi lectus cubilia class morbi, justo nullam venenatis consequat sagittis eget urna lacinia dui, augue fusce egestas aenean nisi dignissim placerat purus congue.</p>
                    <p>Convallis vehicula est ac magnis sociosqu maecenas tempus turpis, vitae vivamus senectus ultrices nascetur malesuada curabitur ligula, quisque ultricies enim tempor primis platea himenaeos. Non id conubia duis fermentum metus sapien vestibulum natoque varius aptent, aliquam blandit feugiat nam tristique ridiculus mauris iaculis.</p>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit vel aliquet malesuada dis dapibus, auctor ultricies eleifend ultrices curabitur. Imperdiet vivamus consequat nec erat blandit cursus penatibus aenean laoreet integer purus, natoque tempus vitae ridiculus egestas pulvinar tempor ligula quisque. Feugiat fames vehicula conubia diam faucibus luctus torquent, orci primis hendrerit nullam felis netus aliquam, euismod interdum et eros tristique mollis.</p>
                    </blockquote>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit maecenas, ut tincidunt luctus montes fringilla facilisi vivamus cursus, habitasse blandit imperdiet viverra nulla aptent malesuada. Cubilia placerat convallis litora porttitor feugiat, justo nullam curabitur sociis tortor aliquam, eros vulputate senectus id. Ac integer potenti ultrices primis mattis ante gravida rutrum enim, venenatis facilisis orci ligula velit netus himenaeos accumsan.</p>
                    <p>Dictumst enim fames vel per ad sociosqu in viverra quis nostra praesent vestibulum taciti sollicitudin, sapien aenean ut facilisis sed magna sodales himenaeos torquent dui fringilla laoreet. Ligula at senectus purus ullamcorper dignissim habitant sagittis, fusce non donec gravida molestie mattis nunc condimentum, varius urna fermentum tempor tellus blandit.</p>
                    <ul>
                        <li>First list item</li>
                        <li>Another list item</li>
                        <li>Third item on this list</li>
                    </ul>
                    <p>Tincidunt varius pharetra nullam fames cursus dis neque proin platea eros, duis auctor interdum mus sed consequat massa ullamcorper ridiculus mollis, ultrices ad id eu venenatis torquent sociis ante pulvinar. Habitant faucibus vel nec turpis, fusce dignissim vulputate primis est, imperdiet hendrerit facilisis.</p>
                </div>
            </div>
        </div>
    </body>
</html>
