<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>T03 - Tile 3</title>

        <!-- Preview/Testing CSS & JS -->
        <link rel="stylesheet" href="../../../Assets/kul.css" type="text/css" />
        <script src="../../../Assets/jquery.js" type="text/javascript"></script>

        <!-- Global CSS & JS -->
        <link rel="stylesheet" href="../../../Globals/global.css" type="text/css" />
        <script src="../../../Globals/global.js" type="text/javascript"></script>

        <!-- Dependency CSS & JS -->
        <link rel="stylesheet" href="../../U - Utilities/U01 - Background Image/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U03 - Text/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U04 - Title/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U05 - Button/style.css" type="text/css" />

        <!-- Component CSS & JS -->
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <div class="kul-component">
            <div class="tile-3 tile-3_y_lg" style="width: 600px;">
                <h3 class="tile-3__title tile-3__item title">Tile Title Goes Here</h3>
                <p class="tile-3__subtitle tile-3__item tile-3__item_top_sm text text_lg">Subtitle Text Here</p>
                <p class="tile-3__text tile-3__item tile-3__item_top_lg text">Lorem ipsum dolor sit amet consectetur adipiscing elit proin cum, vestibulum pretium blandit porttitor arcu tortor convallis ligula, fringilla eros habitasse odio sagittis parturient aptent integer. Donec libero tristique elementum dignissim.</p>
                <p class="tile-3__text tile-3__item text text_sm">Optional Learn More &gt;</p>
                <div class="tile-3__item">
                    <div class="tile-3__info">
                        <div class="tile-3__info-item">
                            <p class="tile-3__info-text text text_sm">
                                <svg viewbox="0 0 100 100" class="tile-3__info-icon" role="img" aria-label="Test Icon">
                                    <defs>
                                        <mask id="center">
                                            <circle fill="#fff" cx="50" cy="50" r="50" />
                                            <circle fill="#000" cx="50" cy="50" r="25" />
                                        </mask>
                                    </defs>
                                    <circle class="tile-3__info-icon-fill" cx="50" cy="50" r="50" mask="url(#center)" />
                                </svg>
                                <span class="tile-3__info-text-line">Lorem Ipsum</span>
                                <span class="tile-3__info-text-line">Second Line</span>
                            </p>
                        </div>
                        <div class="tile-3__info-item">
                            <p class="tile-3__info-text text text_sm">
                                <svg viewbox="0 0 100 100" class="tile-3__info-icon" role="img" aria-label="Test Icon">
                                    <defs>
                                        <mask id="center">
                                            <circle fill="#fff" cx="50" cy="50" r="50" />
                                            <circle fill="#000" cx="50" cy="50" r="25" />
                                        </mask>
                                    </defs>
                                    <circle class="tile-3__info-icon-fill" cx="50" cy="50" r="50" mask="url(#center)" />
                                </svg>
                                <a href="https://www.example.com/" class="tile-3__info-link">
                                    <span class="tile-3__info-text-line">Inline SVG Icons</span>
                                    <span class="tile-3__info-text-line">This is a Link</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tile-3__button tile-3__item tile-3__item_top_lg">
                    <a href="https://www.example.com/" class="button">Link Button</a>
                </div>
            </div>
        </div>
        <div class="kul-component">
            <a href="https://www.example.com/" class="tile-3 tile-3_y_lg" style="width: 600px;">
                <h3 class="tile-3__title tile-3__item title">This Entire Tile is a Link Lorem Ipsum Dolor sit Amet</h3>
                <p class="tile-3__subtitle tile-3__item tile-3__item_top_sm text text_lg">Subtitle Text Here</p>
                <p class="tile-3__text tile-3__item tile-3__item_top_lg text">Lorem ipsum dolor sit amet consectetur adipiscing elit proin cum, vestibulum pretium blandit porttitor arcu tortor convallis ligula, fringilla eros habitasse odio sagittis parturient aptent integer. Donec libero tristique elementum dignissim.</p>
                <p class="tile-3__text tile-3__item text text_sm">Optional Learn More &gt;</p>
                <div class="tile-3__item">
                    <div class="tile-3__info">
                        <div class="tile-3__info-item">
                            <p class="tile-3__info-text text text_sm">
                                <span class="tile-3__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg')" aria-label="Test Icon"></span>
                                <span class="tile-3__info-text-line">Lorem Ipsum</span>
                                <span class="tile-3__info-text-line">Second Line</span>
                            </p>
                        </div>
                        <div class="tile-3__info-item">
                            <p class="tile-3__info-text text text_sm">
                                <span class="tile-3__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg')" aria-label="Test Icon"></span>
                                <span class="tile-3__info-text-line">BG Image Icons</span>
                                <span class="tile-3__info-text-line">Lorem Ipsum Dolor</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tile-3__button tile-3__item tile-3__item_top_lg">
                    <div class="button">Button</div>
                </div>
            </a>
        </div>
        <div class="kul-component">
            <div class="tile-3 tile-3_no-box" style="width: 600px;">
                <h3 class="tile-3__title tile-3__item title">Lorem Ipsum Dolor sit Amet</h3>
                <p class="tile-3__subtitle tile-3__item tile-3__item_top_sm text text_lg">Subtitle Text Here</p>
                <p class="tile-3__text tile-3__item tile-3__item_top_lg text">Lorem ipsum dolor sit amet consectetur adipiscing elit proin cum, vestibulum pretium blandit porttitor arcu tortor convallis ligula, fringilla eros habitasse odio sagittis parturient aptent integer. Donec libero tristique elementum dignissim.</p>
                <p class="tile-3__text tile-3__item text text_sm">Optional Learn More &gt;</p>
                <div class="tile-3__item">
                    <div class="tile-3__info">
                        <div class="tile-3__info-item">
                            <p class="tile-3__info-text text text_sm">
                                <span class="tile-3__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg')" aria-label="Test Icon"></span>
                                <span class="tile-3__info-text-line">Lorem Ipsum</span>
                                <span class="tile-3__info-text-line">Second Line</span>
                            </p>
                        </div>
                        <div class="tile-3__info-item">
                            <p class="tile-3__info-text text text_sm">
                                <span class="tile-3__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg')" aria-label="Test Icon"></span>
                                <span class="tile-3__info-text-line">BG Image Icons</span>
                                <span class="tile-3__info-text-line">Lorem Ipsum Dolor</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tile-3__button tile-3__item tile-3__item_top_lg">
                    <button type="button" class="button">Button Element</button>
                </div>
            </div>
        </div>
        <div class="kul-component">
            <div class="tile-3" style="width: 500px;">
                <h3 class="tile-3__title tile-3__item title">Tile Title Goes Here</h3>
                <div class="tile-3__item tile-3__item_grow">
                    <div class="tile-3__info">
                        <div class="tile-3__info-item">
                            <p class="tile-3__info-text text text_sm">
                                <span class="tile-3__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg')" aria-label="Test Icon"></span>
                                <span class="tile-3__info-text-line">Button Will Stick to Bottom</span>
                                <span class="tile-3__info-text-line">If Tile Height Grows</span>
                            </p>
                        </div>
                        <div class="tile-3__info-item">
                            <p class="tile-3__info-text text text_sm">
                                <span class="tile-3__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg')" aria-label="Test Icon"></span>
                                <span class="tile-3__info-text-line">BG Image Icons</span>
                                <span class="tile-3__info-text-line">Lorem Ipsum Dolor</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tile-3__button tile-3__item tile-3__item_top_lg">
                    <a href="https://www.example.com/" class="button">Link Button</a>
                </div>
            </div>
        </div>
        <div class="kul-component">
            <div class="tile-3 tile-3_no-box" style="width: 500px;">
                <h3 class="tile-3__title tile-3__item title">Tile Title Goes Here</h3>
                <div class="tile-3__item">
                    <div class="tile-3__info">
                        <div class="tile-3__info-item">
                            <p class="tile-3__info-text text text_sm">
                                <span class="tile-3__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg')" aria-label="Test Icon"></span>
                                <span class="tile-3__info-text-line">Lorem Ipsum</span>
                                <span class="tile-3__info-text-line">Second Line</span>
                            </p>
                        </div>
                        <div class="tile-3__info-item">
                            <p class="tile-3__info-text text text_sm">
                                <span class="tile-3__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg')" aria-label="Test Icon"></span>
                                <span class="tile-3__info-text-line">BG Image Icons</span>
                                <span class="tile-3__info-text-line">Lorem Ipsum Dolor</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tile-3__button tile-3__item tile-3__item_top_lg">
                    <a href="https://www.example.com/" class="button">Link Button</a>
                </div>
            </div>
        </div>
    </body>
</html>
