<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>U00 - Example</title>

        <!-- Preview/Testing CSS & JS -->
        <link rel="stylesheet" href="../../../Assets/kul.css" type="text/css" />
        <script src="../../../Assets/jquery.js" type="text/javascript"></script>

        <!-- Global CSS & JS -->
        <link rel="stylesheet" href="../../../Globals/global.css" type="text/css" />
        <script src="../../../Globals/global.js" type="text/javascript"></script>

        <!-- Dependency CSS & JS -->
        <link rel="stylesheet" href="../U02 - Text/style.css" type="text/css" />

        <!-- Component CSS & JS -->
        <link rel="stylesheet" href="style.css" type="text/css" />
        <script src="script.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="kul-component">
            <div class="example">
                <p class="example__text text">Lorem ipsum dolor sit amet.</p>
                <div class="example__item"></div>
                <div class="example__item example__item_h_sm"></div>
                <div class="example__item example__item_h_lg"></div>
            </div>
        </div>
        <div class="kul-component">
            <div class="example example_wide">
                <p class="example__text text text_lg">Lorem ipsum dolor sit amet.</p>
                <div class="example__item"></div>
                <div class="example__item"></div>
                <div class="example__item"></div>
            </div>
        </div>
    </body>
</html>
