<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>U01 - Background Image</title>

        <!-- Preview/Testing CSS & JS -->
        <link rel="stylesheet" href="../../../Assets/kul.css" type="text/css" />
        <script src="../../../Assets/jquery.js" type="text/javascript"></script>

        <!-- Global CSS & JS -->
        <link rel="stylesheet" href="../../../Globals/global.css" type="text/css" />
        <script src="../../../Globals/global.js" type="text/javascript"></script>

        <!-- Component CSS & JS -->
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <div class="site">
            <div class="kul-component">
                <div class="bg-image" style="height: 200px; background-image: url('../../../Assets/image.svg');"></div>
            </div>
            <div class="kul-component">
                <div class="bg-image bg-image_size_contain" style="height: 200px; background-image: url('../../../Assets/icon-black.svg');"></div>
            </div>
            <div class="kul-component">
                <div class="bg-image bg-image_size_contain bg-image_repeat_x bg-image_pos_left-center" style="height: 200px; background-image: url('../../../Assets/icon-black.svg');"></div>
            </div>
        </div>
    </body>
</html>
