<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LG03 - Layout Group 3</title>

        <!-- Preview/Testing CSS & JS -->
        <link rel="stylesheet" href="../../../Assets/kul.css" type="text/css" />
        <script src="../../../Assets/jquery.js" type="text/javascript"></script>

        <!-- Global CSS & JS -->
        <link rel="stylesheet" href="../../../Globals/global.css" type="text/css" />
        <script src="../../../Globals/global.js" type="text/javascript"></script>

        <!-- Dependency CSS & JS -->
        <link rel="stylesheet" href="../../U - Utilities/U01 - Background Image/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U03 - Text/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U04 - Title/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U05 - Button/style.css" type="text/css" />

        <!-- Component CSS & JS -->
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <div class="site">
            <div class="kul-component">
                <div class="layout-group-3">
                    <img src="../../../Assets/image.svg" alt="Test Image" width="1265" height="578" class="layout-group-3__image" />
                    <div class="layout-group-3__top">
                        <div class="layout-group-3__top-main">
                            <h1 class="layout-group-3__title title title_lg">Article Title Here</h1>
                            <div class="layout-group-3__details">
                                <div class="layout-group-3__details-inner text text_lg">
                                    <p class="layout-group-3__details-item">Author Name</p>
                                    <p class="layout-group-3__details-item">Posted February 18th, 2020</p>
                                </div>
                            </div>
                        </div>
                        <div class="layout-group-3__top-side">
                            <p class="layout-group-3__label text">Tags: Topic, topic, another topic</p>
                            <div class="layout-group-3__button">
                                <a href="https://www.example.com/" class="button">Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="layout-group-3__bottom">
                        <p class="layout-group-3__text layout-group-3__bottom-item text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at massa sit amet nisi cursus hendrerit. Integer ornare tortor nec urna ultrices, et tincidunt mi faucibus. Curabitur sit amet condimentum justo. Curabitur sed commodo nisi, id volutpat enim. Curabitur pharetra. mauris orci, vel malesuada nunc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Italic text option Vivamus at massa sit amet nisi cursus hendrerit.</p>
                        <p class="layout-group-3__text layout-group-3__bottom-item text text_sm">Optional Learn More &gt;</p>
                        <div class="layout-group-3__bottom-item">
                            <div class="layout-group-3__info">
                                <div class="layout-group-3__info-item">
                                    <p class="layout-group-3__info-text text text_sm">
                                        <svg viewbox="0 0 100 100" class="layout-group-3__info-icon" role="img" aria-label="Test Icon">
                                            <defs>
                                                <mask id="center">
                                                    <circle fill="#fff" cx="50" cy="50" r="50" />
                                                    <circle fill="#000" cx="50" cy="50" r="25" />
                                                </mask>
                                            </defs>
                                            <circle class="layout-group-3__info-icon-fill" cx="50" cy="50" r="50" mask="url(#center)" />
                                        </svg>
                                        <span class="layout-group-3__info-text-line">Lorem Ipsum</span>
                                        <span class="layout-group-3__info-text-line">Second Line</span>
                                    </p>
                                </div>
                                <div class="layout-group-3__info-item">
                                    <p class="layout-group-3__info-text text text_sm">
                                        <span class="layout-group-3__info-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg')" aria-label="Test Icon"></span>
                                        <a href="https://www.example.com/" class="layout-group-3__info-link">
                                            <span class="layout-group-3__info-text-line">Inline SVG Icons</span>
                                            <span class="layout-group-3__info-text-line">This is a Link</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kul-component">
                <div class="layout-group-3">
                    <div class="layout-group-3__image layout-group-3__image_h_sm bg-image" style="background-image: url('../../../Assets/image.svg');" role="img" aria-label="Test Image"></div>
                    <div class="layout-group-3__top">
                        <div class="layout-group-3__top-main">
                            <h1 class="layout-group-3__title title title_lg">Lorem Ipsum Dolor sit Amet</h1>
                            <div class="layout-group-3__details">
                                <div class="layout-group-3__details-inner text text_lg">
                                    <p class="layout-group-3__details-item">March 14, 2020</p>
                                </div>
                            </div>
                        </div>
                        <div class="layout-group-3__top-side">
                            <div class="layout-group-3__button">
                                <button type="button" class="button">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
