.section {
    padding: var(--g_padding-y_default) var(--g_padding-x_default);
}
.section_top_sm,
.section_y_sm {
    padding-top: var(--g_padding-y_sm);
}
.section_bottom_sm,
.section_y_sm {
    padding-bottom: var(--g_padding-y_sm);
}
.section_top_md,
.section_y_md {
    padding-top: var(--g_padding-y_md);
}
.section_bottom_md,
.section_y_md {
    padding-bottom: var(--g_padding-y_md);
}
.section_top_lg,
.section_y_lg {
    padding-top: var(--g_padding-y_lg);
}
.section_bottom_lg,
.section_y_lg {
    padding-bottom: var(--g_padding-y_lg);
}
.section_top_none,
.section_y_none {
    padding-top: 0;
}
.section_bottom_none,
.section_y_none {
    padding-bottom: 0;
}
.section_x_sm {
    padding-right: var(--g_padding-x_sm);
    padding-left: var(--g_padding-x_sm);
}
.section_x_none {
    padding-right: 0;
    padding-left: 0;
}
.section__content {
    max-width: var(--g_max-width_default);
    margin: 0 auto;
}
.section__content_w_sm {
    max-width: var(--g_max-width_sm);
}
.section__content_w_md {
    max-width: var(--g_max-width_md);
}
.section__content_w_full {
    max-width: none;
}
