:root {
    --section_padding-y_default: 100px;
    --section_padding-y_sm: 50px;
    --section_padding-y_md: 75px;
    --section_padding-y_lg: 150px;

    --section_padding-x_default: 100px;
    --section_padding-x_sm: 50px;
    
    --section_content_max-width_default: 1400px;
    --section_content_max-width_sm: 865px;
    --section_content_max-width_md: 1015px;
}

.section {
    --this_section_padding-top: var(--section_padding-y_default);
    --this_section_padding-bottom: var(--section_padding-y_default);
    --this_section_padding-x: var(--section_padding-x_default);

    padding: var(--this_section_padding-top) var(--this_section_padding-x) var(--this_section_padding-bottom);
}
.section_top_sm,
.section_y_sm {
    --this_section_padding-top: var(--section_padding-y_sm);
}
.section_bottom_sm,
.section_y_sm {
    --this_section_padding-bottom: var(--section_padding-y_sm);
}
.section_top_md,
.section_y_md {
    --this_section_padding-top: var(--section_padding-y_md);
}
.section_bottom_md,
.section_y_md {
    --this_section_padding-bottom: var(--section_padding-y_md);
}
.section_top_lg,
.section_y_lg {
    --this_section_padding-top: var(--section_padding-y_lg);
}
.section_bottom_lg,
.section_y_lg {
    --this_section_padding-bottom: var(--section_padding-y_lg);
}
.section_top_none,
.section_y_none {
    --this_section_padding-top: 0;
}
.section_bottom_none,
.section_y_none {
    --this_section_padding-bottom: 0;
}
.section_x_sm {
    --this_section_padding-x: var(--section_padding-x_sm);
}
.section_x_none {
    --this_section_padding-x: 0;
}
.section__content {
    --this_section_content_max-width: var(--section_content_max-width_default);

    max-width: var(--this_section_content_max-width);
    margin: 0 auto;
}
.section__content_w_sm {
    --this_section_content_max-width: var(--section_content_max-width_sm);
}
.section__content_w_md {
    --this_section_content_max-width: var(--section_content_max-width_md);
}
.section__content_w_full {
    --this_section_content_max-width: none;
}
