@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap');

body {
    --g_font-family_title: 'Zilla Slab', serif;
}

/* Component Preview */
.kul {
    background-color: #e4e4e4;
}
.kul__component {
    padding: 0 100px 100px;
}
.kul__component_top_none,
.kul__component_y_none {
    padding-top: 0;
}
.kul__component_bottom_none,
.kul__component_y_none {
    padding-bottom: 0;
}
.kul__component_right_none,
.kul__component_x_none {
    padding-right: 0;
}
.kul__component_left_none,
.kul__component_x_none {
    padding-left: 0;
}
.kul__component:first-child {
    padding-top: 100px;
}
