<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LG02 - Layout Group 2</title>

        <!-- Preview/Testing CSS & JS -->
        <link rel="stylesheet" href="../../../Assets/kul.css" type="text/css" />
        <script src="../../../Assets/jquery.js" type="text/javascript"></script>

        <!-- Global CSS & JS -->
        <link rel="stylesheet" href="../../../Globals/global.css" type="text/css" />
        <script src="../../../Globals/global.js" type="text/javascript"></script>

        <!-- Dependency CSS & JS -->
        <link rel="stylesheet" href="../../U - Utilities/U01 - Background Image/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U03 - Text/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U04 - Title/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U05 - Button/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U06 - Button Group/style.css" type="text/css" />

        <!-- Component CSS & JS -->
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <div class="kul">
            <div class="kul__component">
                <div class="layout-group-2" style="max-width: var(--g_max-width_sm);">
                    <div class="layout-group-2__image layout-group-2__image_h_sm">
                        <div class="layout-group-2__image-bg bg-image" style="background-image: url('../../../Assets/image.svg');" role="img" aria-label="Test Image"></div>
                        <div class="layout-group-2__image-content">
                            <a href="https://www.example.com/" class="button button_color_light">Link Button</a>
                        </div>
                    </div>
                    <div class="layout-group-2__main">
                        <h2 class="layout-group-2__title layout-group-2__item title">Optional Title</h2>
                        <p class="layout-group-2__text layout-group-2__item layout-group-2__item_top_sm text">Lorem ipsum dolor sit amet consectetur adipiscing elit nec, facilisis nullam dictumst sollicitudin per morbi nascetur, quisque nam vestibulum pretium justo.</p>
                        <ul class="layout-group-2__list layout-group-2__item text">
                            <li class="layout-group-2__list-item">
                                <svg viewbox="0 0 100 100" class="layout-group-2__list-icon" role="img" aria-label="Test Icon">
                                    <defs>
                                        <mask id="center">
                                            <circle fill="#fff" cx="50" cy="50" r="50" />
                                            <circle fill="#000" cx="50" cy="50" r="25" />
                                        </mask>
                                    </defs>
                                    <circle class="layout-group-2__list-icon-fill" cx="50" cy="50" r="50" mask="url(#center)" />
                                </svg>
                                List Item Goes Here.
                            </li>
                            <li class="layout-group-2__list-item">
                                <svg viewbox="0 0 100 100" class="layout-group-2__list-icon" role="img" aria-label="Test Icon">
                                    <defs>
                                        <mask id="center">
                                            <circle fill="#fff" cx="50" cy="50" r="50" />
                                            <circle fill="#000" cx="50" cy="50" r="25" />
                                        </mask>
                                    </defs>
                                    <circle class="layout-group-2__list-icon-fill" cx="50" cy="50" r="50" mask="url(#center)" />
                                </svg>
                                Hello World!
                            </li>
                            <li class="layout-group-2__list-item">
                                <svg viewbox="0 0 100 100" class="layout-group-2__list-icon" role="img" aria-label="Test Icon">
                                    <defs>
                                        <mask id="center">
                                            <circle fill="#fff" cx="50" cy="50" r="50" />
                                            <circle fill="#000" cx="50" cy="50" r="25" />
                                        </mask>
                                    </defs>
                                    <circle class="layout-group-2__list-icon-fill" cx="50" cy="50" r="50" mask="url(#center)" />
                                </svg>
                                The icons in this list are inline SVGs
                            </li>
                        </ul>
                        <div class="layout-group-2__button layout-group-2__item">
                            <div class="button-group">
                                <div class="button-group__item">
                                    <a href="https://www.example.com/" class="button">Link Button</a>
                                </div>
                                <div class="button-group__item">
                                    <a href="https://www.example.com/" class="button">Second Button</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kul__component">
                <div class="layout-group-2" style="max-width: var(--g_max-width_sm);">
                    <a href="https://www.example.com/" class="layout-group-2__image">
                        <div class="layout-group-2__image-bg bg-image" style="background-image: url('../../../Assets/image.svg');" role="img" aria-label="Test Image"></div>
                        <div class="layout-group-2__image-content">
                            <div class="button button_color_light">Button</div>
                        </div>
                    </a>
                    <div class="layout-group-2__main">
                        <h2 class="layout-group-2__title layout-group-2__item title">Entire Image Clickable</h2>
                        <p class="layout-group-2__text layout-group-2__item layout-group-2__item_top_sm text">Lorem ipsum dolor sit amet consectetur adipiscing elit nec, facilisis nullam dictumst sollicitudin per morbi nascetur, quisque nam vestibulum pretium justo.</p>
                        <ul class="layout-group-2__list layout-group-2__item text">
                            <li class="layout-group-2__list-item">
                                <div class="layout-group-2__list-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg');" role="img" aria-label="Test Icon"></div>
                                List Item Goes Here.
                            </li>
                            <li class="layout-group-2__list-item">
                                <div class="layout-group-2__list-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg');" role="img" aria-label="Test Icon"></div>
                                Hello World!
                            </li>
                            <li class="layout-group-2__list-item">
                                <div class="layout-group-2__list-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg');" role="img" aria-label="Test Icon"></div>
                                The icons in this list are bg images
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="kul__component">
                <div class="layout-group-2" style="max-width: var(--g_max-width_sm);">
                    <div class="layout-group-2__image layout-group-2__image_stretch bg-image" style="background-image: url('../../../Assets/image.svg');" role="img" aria-label="Test Image"></div>
                    <div class="layout-group-2__main">
                        <h2 class="layout-group-2__title layout-group-2__item title">Lorem Ipsum</h2>
                        <p class="layout-group-2__text layout-group-2__item layout-group-2__item_top_sm text">Lorem ipsum dolor sit amet consectetur adipiscing elit nec, facilisis nullam dictumst sollicitudin per morbi nascetur, quisque nam vestibulum pretium justo.</p>
                        <ul class="layout-group-2__list layout-group-2__item text">
                            <li class="layout-group-2__list-item">
                                <div class="layout-group-2__list-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg');" role="img" aria-label="Test Icon"></div>
                                List Item Goes Here.
                            </li>
                            <li class="layout-group-2__list-item">
                                <div class="layout-group-2__list-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg');" role="img" aria-label="Test Icon"></div>
                                Hello World!
                            </li>
                            <li class="layout-group-2__list-item">
                                <div class="layout-group-2__list-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg');" role="img" aria-label="Test Icon"></div>
                                The icons in this list are bg images
                            </li>
                        </ul>
                        <div class="layout-group-2__button layout-group-2__item">
                            <button type="button" class="button">Button Element</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kul__component">
                <div class="layout-group-2" style="max-width: var(--g_max-width_sm);">
                    <div class="layout-group-2__main">
                        <h2 class="layout-group-2__title layout-group-2__item title">Lorem Ipsum</h2>
                        <p class="layout-group-2__text layout-group-2__item layout-group-2__item_grow layout-group-2__item_top_sm text">Lorem ipsum dolor sit amet consectetur adipiscing elit nec, facilisis nullam dictumst sollicitudin per morbi nascetur, quisque nam vestibulum pretium justo.</p>
                        <div class="layout-group-2__button layout-group-2__item">
                            <a href="https://www.example.com/" class="button">Link Button</a>
                        </div>
                    </div>
                    <img src="../../../Assets/image.svg" alt="Test Image" width="400" height="350" class="layout-group-2__image" />
                </div>
            </div>
            <div class="kul__component">
                <div class="layout-group-2" style="max-width: var(--g_max-width_sm);">
                    <div class="layout-group-2__main">
                        <h2 class="layout-group-2__title layout-group-2__item title">Lorem Ipsum</h2>
                        <p class="layout-group-2__text layout-group-2__item layout-group-2__item_top_sm text">Lorem ipsum dolor sit amet consectetur adipiscing elit nec, facilisis nullam dictumst sollicitudin per morbi nascetur, quisque nam vestibulum pretium justo.</p>
                        <div class="layout-group-2__button layout-group-2__item">
                            <a href="https://www.example.com/" class="button">Link Button</a>
                        </div>
                    </div>
                    <div class="layout-group-2__image layout-group-2__image_h_lg bg-image" style="background-image: url('../../../Assets/image.svg');" role="img" aria-label="Test Image"></div>
                </div>
            </div>
        </div>
    </body>
</html>
