<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CI01 - Column Info 1</title>

        <!-- Preview/Testing CSS & JS -->
        <link rel="stylesheet" href="../../../Assets/kul.css" type="text/css" />
        <script src="../../../Assets/jquery.js" type="text/javascript"></script>

        <!-- Global CSS & JS -->
        <link rel="stylesheet" href="../../../Globals/global.css" type="text/css" />
        <script src="../../../Globals/global.js" type="text/javascript"></script>

        <!-- Dependency CSS & JS -->
        <link rel="stylesheet" href="../../U - Utilities/U01 - Background Image/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U03 - Text/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U04 - Title/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U05 - Button/style.css" type="text/css" />

        <!-- Component CSS & JS -->
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <div class="kul-component">
            <div class="column-info-1" style="width: 275px;">
                <h3 class="column-info-1__title column-info-1__item title">Lorem ipsum dolor sit amet consectetur adipiscing elit non justo conubia</h3>
                <img src="../../../Assets/image.svg" alt="Test Image" width="275" height="200" class="column-info-1__image column-info-1__item" />
                <h4 class="column-info-1__subtitle column-info-1__item column-info-1__item_top_sm title title_sm">Facilisis Ultricies Pulvinar</h4>
                <p class="column-info-1__text column-info-1__item text text_sm">Lorem ipsum dolor sit amet consectetur adipiscing elit non, risus sollicitudin ut feugiat nisl pharetra magnis augue, nisi sem facilisi ornare arcu praesent per. Porta accumsan fusce congue nam nullam sociis semper posuere quis, curabitur cras auctor natoque dignissim dapibus.</p>
                <ul class="column-info-1__list column-info-1__item column-info-1__item_top_lg text text_sm">
                    <li class="column-info-1__list-item">
                        <svg viewbox="0 0 100 100" class="column-info-1__list-icon" role="img" aria-label="Test Icon">
                            <defs>
                                <mask id="center">
                                    <circle fill="#fff" cx="50" cy="50" r="50" />
                                    <circle fill="#000" cx="50" cy="50" r="25" />
                                </mask>
                            </defs>
                            <circle class="column-info-1__list-icon-fill" cx="50" cy="50" r="50" mask="url(#center)" />
                        </svg>
                        List Item Goes Here. It is a good list!
                    </li>
                    <li class="column-info-1__list-item">
                        <svg viewbox="0 0 100 100" class="column-info-1__list-icon" role="img" aria-label="Test Icon">
                            <defs>
                                <mask id="center">
                                    <circle fill="#fff" cx="50" cy="50" r="50" />
                                    <circle fill="#000" cx="50" cy="50" r="25" />
                                </mask>
                            </defs>
                            <circle class="column-info-1__list-icon-fill" cx="50" cy="50" r="50" mask="url(#center)" />
                        </svg>
                        The icons in this list are inline SVGs
                    </li>
                    <li class="column-info-1__list-item">
                        <svg viewbox="0 0 100 100" class="column-info-1__list-icon" role="img" aria-label="Test Icon">
                            <defs>
                                <mask id="center">
                                    <circle fill="#fff" cx="50" cy="50" r="50" />
                                    <circle fill="#000" cx="50" cy="50" r="25" />
                                </mask>
                            </defs>
                            <circle class="column-info-1__list-icon-fill" cx="50" cy="50" r="50" mask="url(#center)" />
                        </svg>
                        This list item wraps because it has a larger amount of text and it can't all fit on one line.
                    </li>
                    <li class="column-info-1__list-item">
                        <svg viewbox="0 0 100 100" class="column-info-1__list-icon" role="img" aria-label="Test Icon">
                            <defs>
                                <mask id="center">
                                    <circle fill="#fff" cx="50" cy="50" r="50" />
                                    <circle fill="#000" cx="50" cy="50" r="25" />
                                </mask>
                            </defs>
                            <circle class="column-info-1__list-icon-fill" cx="50" cy="50" r="50" mask="url(#center)" />
                        </svg>
                        Lorem ipsum dolor sit amet
                    </li>
                </ul>
                <div class="column-info-1__button column-info-1__item column-info-1__item_top_lg">
                    <a href="https://www.example.com/" class="button">Link Button</a>
                </div>
            </div>
        </div>
        <div class="kul-component">
            <div class="column-info-1" style="width: 275px;">
                <div class="column-info-1__image column-info-1__image_h_md bg-image" style="background-image: url('../../../Assets/image.svg');" role="img" aria-label="Test Image"></div>
                <h4 class="column-info-1__subtitle column-info-1__item column-info-1__item_top_sm title title_sm">Another Example Column for Testing Purposes</h4>
                <ul class="column-info-1__list column-info-1__item column-info-1__item_top_lg text text_sm">
                    <li class="column-info-1__list-item">
                        <div class="column-info-1__list-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg');" role="img" aria-label="Test Icon"></div>
                        Another List Item
                    </li>
                    <li class="column-info-1__list-item">
                        <div class="column-info-1__list-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg');" role="img" aria-label="Test Icon"></div>
                        In this list, the icons are bg images
                    </li>
                    <li class="column-info-1__list-item">
                        <div class="column-info-1__list-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg');" role="img" aria-label="Test Icon"></div>
                        Himenaeos ligula ad porta montes
                    </li>
                </ul>
                <div class="column-info-1__button column-info-1__item column-info-1__item_top_lg">
                    <button type="button" class="button button_w_full">Button Element</button>
                </div>
            </div>
        </div>
        <div class="kul-component">
            <div class="column-info-1" style="width: 275px;">
                <h4 class="column-info-1__subtitle column-info-1__item column-info-1__item_top_sm title title_sm">Another Example Column for Testing Purposes</h4>
                <p class="column-info-1__text column-info-1__item text text_sm">In this column, the button sticks to the bottom if the height grows. Lorem ipsum dolor sit amet consectetur adipiscing elit malesuada eleifend dignissim porttitor, consequat odio euismod eget lacinia congue auctor justo taciti. Eros blandit neque molestie metus platea laoreet curabitur, sagittis egestas magna tristique velit massa libero, cubilia posuere commodo nisl cum in. Tincidunt gravida convallis nibh faucibus nisi maecenas pharetra vehicula. Neque eu rhoncus sociosqu pulvinar.</p>
                <ul class="column-info-1__list column-info-1__item column-info-1__item_grow column-info-1__item_top_lg text text_sm">
                    <li class="column-info-1__list-item">
                        <div class="column-info-1__list-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg');" role="img" aria-label="Test Icon"></div>
                        List Item Goes Here. It is a good list!
                    </li>
                    <li class="column-info-1__list-item">
                        <div class="column-info-1__list-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg');" role="img" aria-label="Test Icon"></div>
                        Another List Item
                    </li>
                    <li class="column-info-1__list-item">
                        <div class="column-info-1__list-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg');" role="img" aria-label="Test Icon"></div>
                        #3. Wow what a list it is!
                    </li>
                    <li class="column-info-1__list-item">
                        <div class="column-info-1__list-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg');" role="img" aria-label="Test Icon"></div>
                        Just when you thought 3 was enough!
                    </li>
                    <li class="column-info-1__list-item">
                        <div class="column-info-1__list-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-black.svg');" role="img" aria-label="Test Icon"></div>
                        The last one is #5
                    </li>
                </ul>
                <div class="column-info-1__button column-info-1__item column-info-1__item_top_lg">
                    <a href="https://www.example.com/" class="button">Link Button</a>
                </div>
            </div>
        </div>
    </body>
</html>
