<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>T04 - Tile 4</title>

        <!-- Preview/Testing CSS & JS -->
        <link rel="stylesheet" href="../../../Assets/kul.css" type="text/css" />
        <script src="../../../Assets/jquery.js" type="text/javascript"></script>

        <!-- Global CSS & JS -->
        <link rel="stylesheet" href="../../../Globals/global.css" type="text/css" />
        <script src="../../../Globals/global.js" type="text/javascript"></script>

        <!-- Dependency CSS & JS -->
        <link rel="stylesheet" href="../../U - Utilities/U01 - Background Image/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U03 - Text/style.css" type="text/css" />
        <link rel="stylesheet" href="../../U - Utilities/U04 - Title/style.css" type="text/css" />

        <!-- Component CSS & JS -->
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <div class="kul-component">
            <div class="tile-4">
                <div class="tile-4__top tile-4__part">
                    <p class="tile-4__top-text text text_sm">
                        <svg viewbox="0 0 100 100" class="tile-4__top-icon" role="img" aria-label="Test Icon">
                            <defs>
                                <mask id="center">
                                    <circle fill="#fff" cx="50" cy="50" r="50" />
                                    <circle fill="#000" cx="50" cy="50" r="25" />
                                </mask>
                            </defs>
                            <circle class="tile-4__top-icon-fill" cx="50" cy="50" r="50" mask="url(#center)" />
                        </svg>
                        Text with Inline SVG Icon
                    </p>
                </div>
                <div class="tile-4__content tile-4__part">
                    <h3 class="tile-4__title title title_sm">Lorem Ipsum Dolor sit Amet Consectetur Adipiscing</h3>
                    <p class="tile-4__text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at massa sit amet nisi cursus hendrerit. Integer ornare tortor nec urna ultrices, et tincidunt mi faucibus. Curabitur sit amet. condimentum justo.</p>
                    <p class="tile-4__text tile-4__text_color_alt text text_xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at massa sit amet nisi cursus hendrerit. Integer ornare tortor nec urna ultrices, et tincidunt mi faucibus. Curabitur sit amet. condimentum justo. Curabitur sed commodo nisi, id volutpat.</p>
                </div>
            </div>
        </div>
        <div class="kul-component">
            <div class="tile-4">
                <div class="tile-4__content tile-4__part">
                    <h3 class="tile-4__title title title_sm">Lorem Ipsum Dolor sit Amet Consectetur Adipiscing</h3>
                    <p class="tile-4__text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at massa sit amet nisi cursus hendrerit.</p>
                    <p class="tile-4__text tile-4__text_color_alt text text_xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at massa sit amet nisi cursus hendrerit. Integer ornare tortor nec urna ultrices, et tincidunt mi faucibus. Curabitur sit amet. condimentum justo. Curabitur sed commodo nisi, id volutpat.</p>
                </div>
            </div>
        </div>
        <div class="kul-component">
            <a href="https://www.example.com/" class="tile-4">
                <div class="tile-4__top tile-4__part">
                    <p class="tile-4__top-text text text_sm">
                        <span class="tile-4__top-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-white.svg')" aria-label="Test Icon"></span>
                        Text with BG Image Icon
                    </p>
                </div>
                <div class="tile-4__content tile-4__part">
                    <h3 class="tile-4__title title title_sm">Lorem Ipsum Dolor sit Amet Consectetur Adipiscing</h3>
                    <p class="tile-4__text tile-4__text_color_alt text text_xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at massa sit amet nisi cursus hendrerit.</p>
                </div>
            </a>
        </div>
        <div class="kul-component">
            <button type="button" class="tile-4">
                <div class="tile-4__top tile-4__part">
                    <p class="tile-4__top-text text text_sm">
                        <span class="tile-4__top-icon bg-image bg-image_size_contain" style="background-image: url('../../../Assets/icon-white.svg')" aria-label="Test Icon"></span>
                        Text
                    </p>
                </div>
                <div class="tile-4__content tile-4__part">
                    <h3 class="tile-4__title title title_sm">Button Element Tile tempor lacinia vehicula at aliquam, sagittis ornare nulla condimentum, porttitor iaculis torquent in. Integer sociis ullamcorper conubia cras eget justo, et pulvinar hendrerit velit.</h3>
                    <p class="tile-4__text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at massa sit amet nisi cursus hendrerit. Integer ornare tortor nec urna ultrices, et tincidunt mi faucibus. Curabitur sit amet. condimentum justo.</p>
                    <p class="tile-4__text tile-4__text_color_alt text text_xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at massa sit amet nisi cursus hendrerit. Integer ornare tortor nec urna ultrices, et tincidunt mi faucibus. Curabitur sit amet. condimentum justo. Curabitur sed commodo nisi, id volutpat.</p>
                </div>
            </button>
        </div>
    </body>
</html>
